
/target/
build/
.mvn/
!mvnw
!mvnw.cmd

*.log

# 👉 Eclipse
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

.idea/
*.iml
*.iws
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.vscode/

.DS_Store
Thumbs.db
